<div class="mb-3">
  <input
    [placeholder]="placeholder()"
    type="text"
    [value]="value"
    (input)="onInput($any($event).target.value)"
    class="form-control form-control-lg"
  />
  <!-- [ngClass]="{ 'is-invalid': control()?.invalid && (control()?.touched || control()?.dirty) }" -->
  <!-- @if(control()?.invalid && (control()?.touched || control()?.dirty)) {
  <div class="invalid-feedback">
    @if(control()?.errors?.['required']) { Campo obrigatório. } @if(control()?.errors?.['email']) {
    Email inválido. }
  </div> -->
  <!-- } -->
</div>
