@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --cor-de-fundo: #4a7b9d;
  --cor-primaria: #faffd8;
  --cor-secundaria: #ecffb0;
  --cor-fonte: #171717;
  --fonte: 'Inter';
  --tamanho-fonte-texto: 28px;
  --tamanho-fonte-titulo: 40px;
  --sombra: 3px 3px 10px rgba(0, 0, 0, 0.4);
  font-family: var(--fonte), sans-serif;
  color: var(--cor-fonte);
}

body {
  background-color: var(--cor-de-fundo);
  font-size: var(--tamanho-fonte-texto);
}

h1 {
  margin: 0;
}

/* input {
  padding: 12px;
  font-size: var(--tamanho-fonte-texto);
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  box-sizing: border-box;
} */

.titulo {
  font-size: var(--tamanho-fonte-titulo);
  margin-bottom: 2rem;
}

.botao-primario {
  background-color: var(--cor-secundaria);
}

.botao-primario:hover {
  background-color: color-mix(in srgb, var(--cor-secundaria), black 15%);
}

.botao-secundario {
  background-color: var(--cor-primaria);
}

.botao-secundario:hover {
  background-color: color-mix(in srgb, var(--cor-primaria), black 15%);
}

.grupo-botoes {
  grid-template-columns: repeat(2, 1fr);
}

.footer {
  color: var(--cor-primaria);
  font-size: 1rem;
}

/* Sobrescrevendo classes Bootstrap */
.btn {
  --bs-btn-font-size: var(--tamanho-fonte-texto);
  --bs-btn-font-weight: bold;
  --bs-btn-border-radius: 30px;
}

.card {
  --bs-card-bg: var(--cor-primaria);
  --bs-card-border-radius: 30px;
}

.invalid-feedback {
  font-size: 0.9rem;
}
